annotated-types==0.7.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
gitdb==4.0.11
GitPython==3.1.43
idna==3.7
joblib==1.4.2
marqo==3.5.1
nltk==3.8.1
packaging==24.1
pydantic==2.7.4
pydantic_core==2.18.4
regex==2024.5.15
requests==2.32.3
smmap==5.0.1
tqdm==4.66.4
typing_extensions==4.12.2
urllib3==1.26.19
